* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #f8f8f8;
}

.nav {
    background-color: #353b48;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav .icon {
    display: none;
}


.Presentacion {
    padding: 20px 20px;
    position: relative;
    background-color: #f8f8f8;
}

.Presentacion img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.presentacion-title {
    font-size: 50px;
    font-family: 'Pangolin', cursive;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 40px;
}

.presentacion-description {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 40px;
}

.presentacion-description p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 40px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

.frase p{
    font-family: 'Chelsea Market', cursive;
}

.temas {
    padding: 20px 20px;
    background-color: #f8f8f8;
}

.temas p {
    font-size: 60px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.contenedor-temas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-temas a{
    display: block;
    text-decoration: none;
    color: black;

    padding: 10px;
    border: 1.5px solid #95a5a6;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.contenedor-temas img{
    width: 100%;
}

.todos a{
    display: block;
    text-decoration: none;
    color: black;

    text-align: center;
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 130px 0;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);

    border: 1.5px solid #95a5a6;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}

footer {
    text-align: right;
    background-color: rgb(52, 58, 64);
    padding: 50px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-footer {
    margin-bottom: 80px;
    display: block;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
    float: left;
}

.main-footer img{
    margin: 0 10px;
    cursor: pointer;
}

.nav a:hover {
    color: #95a5a6;
}

.contenedor-temas a:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.todos a:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(35deg, #FFCCCC, #CCFFFF);
}

@media screen and (max-width: 1110px) {
    .presentacion-title {
        top: 10%;
    }
    .presentacion-description p {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1070px) {
    .Presentacion {
        padding: 0;
    }
    .Presentacion img {
        border-radius: 0;
        box-shadow: none;
    }
    .presentacion-description {
        width: 49%;
    }
    .presentacion-description p {
        margin-top: 40px;
    }
    .todos a{
        width: 40%;
    }
    .social img {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .presentacion-title {
        font-size: 65px;
        font-family: 'Pangolin', cursive;
        width: 50%;
        position: absolute;
        top: 20%;
        left: 40px;
    }
    .presentacion-description {
        width: 100%;
        position: static;
        top: 20px;
        text-align: center;
        padding: 20px 20px;
        box-sizing: border-box;
    }
    .presentacion-description p{
        text-align: center;
    }
    .frase {
        border-right: 5px solid black;
        border-left: 5px solid black;
        border-radius: 4px;
    }

    .nav a {
        font-size: 23px;
    }

    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
      }

      .nav.responsive {position: relative;}
      .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}

@media screen and (max-width: 850px) {
    .presentacion-title {
        font-size: 57px;
        font-family: 'Pangolin', cursive;
        width: 50%;
        position: absolute;
        top: 15%;
        left: 20px;
    }
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 45%;
        padding: 90px 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 630px) {
    .presentacion-title {
        font-size: 50px;
        font-family: 'Pangolin', cursive;
        width: 50%;
        position: absolute;
        top: 12%;
        left: 20px;
    }
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .Presentacion img {
        display: none;
    }
    .presentacion-title {
        position: relative;
        text-align: center;
        width: auto;
        top: 20px;
        left: 0; 
    }
    .descripcion {
        background-color: #f5f6fa;
        border-radius: 10px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 90%;
    }
}