/* 
    font-family: 'Fira Sans', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:wght@200;300;400;500&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
#homepageLink {
    padding: 16px 20px;
    position: relative;
}
#homepageLink img {
    width: auto;
    height: 70px;
    margin-right: 20px;
    border-radius: 4px;
}
.Inicio {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menuPrincipal {
    float: right;
}

/* .nav .icon {
    display: none;
} */
#menuHamburguesa {
    padding: 18px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 1px;
}
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change-bar2 {
    opacity: 0;
}
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.Presentacion {
    background: linear-gradient(35deg, #0c5c5c, #b84e4e);
    padding: 30px 100px;
}

.presentacion-texto {
    background-color: #15191f;
    border-radius: 7px;
    padding: 40px;
}

.Presentacion h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.materia {
    padding: 20px 20px;
}

.materia p {
    font-size: 55px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-temas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-temas a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}

/* .contenedor-temas a{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    padding: 10px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
} */

.contenedor-temas img{
    width: 100%;
    border-radius: 3px;
}

.tema {
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    background-color: #090c0f;
    cursor: pointer;
}

.hide {
    display: none;
}

footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
}
.legal {
    text-align: right;
    font-weight: bold;
}

.nav a:hover {
    color: #95a5a6;
}

.tema:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.contenedor-temas a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1210px) {
    .contenedor-temas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1070px) {

    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 980px) {
    .contenedor-temas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    
    .informacion {
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .contenedor-temas {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .contenedor-temas {
        grid-template-columns: 1fr;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 30px;
        padding: 10px;
    }
    .presentacion-texto {
        padding: 15px;
    }
    .informacion a{
        line-height: 35px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor-temas {
        grid-gap: 20px;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-size: 27px;
    }
    .Presentacion {
        padding: 30px 50px;
    }
    #search {
        padding: 10px;
    }
}