.seccion-contenido {
    padding: 30px 0;
}
.seccion-contenido h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.swiper {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.swiper-slide {
    background-color: #090c0f;
    box-sizing: border-box;
}
.swiper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    padding: 15px;
    border-radius: 2px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}
.swiper img {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* main {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 20px;
    grid-template-rows: auto 1fr;
    padding: 0 40px 0 0;
} */
main img {
    width: 100%;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    padding: 15px 25px;
    max-width: 1000px;
    margin: 0 auto;
}
.contenido h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.contenido p {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
    margin: 15px 0;
}
.contenido a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: max-content;
    border: 5px solid black;
}
.contenido li {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.articulo {
    align-items: center;
    padding: 20px 40px;
    background-color: #090c0f;
    height: max-content;
    border-radius: 4px;
    /* max-width: 1000px;
    margin: 0 auto; */
}
.articulo h3 {
    text-align: center;
    margin-bottom: 30px;
}
.articulo-descripcion {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-gap: 30px;
    align-items: center;
}
.articulo a {
    margin-top: 20px;
}

#filter-articles {
    margin-top: 20px;
    margin-bottom: 10px;
    width: fit-content;
}
#filter-articles h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #f0ece2;
    display: inline-block;
    margin-bottom: 20px;
}
#filter-articles select {
    background-color: #090c0f;
    color: white;
    width: 300px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}


.articulo a:hover {
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.articulos a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.recomendado-content a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1070px) {
    main {
        padding: 0 15px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #filter-articles {
        margin: 20px auto;
    }
    .articulo {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .articulo-descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .articulo img {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    main {
        padding: 0 10px;
    }
    .title {
        padding: 20px;
    }
    .contenido {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 470px) {
    .seccion-contenido {
        padding: 15px;
    }
    .swiper a {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .contenido {
        padding: 10px 5px;
    }
    .articulo img {
        width: 90%;
    }
}