.Presentacion {
    background: linear-gradient(35deg, #0c5c5c, #b84e4e);
    padding: 30px 100px;
}

.presentacion-texto {
    background-color: #0f1318;
    border-radius: 7px;
    padding: 40px;
}

.Presentacion h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.Presentacion p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

#categories {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
#categories button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500;
}

#todo-material {
    padding: 20px;
}

.materia {
    padding: 20px 20px;
}

.materia p {
    font-size: 55px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-temas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-temas a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}

/* .contenedor-temas a{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    padding: 10px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
} */

.contenedor-temas img{
    width: 100%;
    border-radius: 3px;
}

.tema {
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    background-color: #090c0f;
    cursor: pointer;
}

.hide {
    display: none;
}

.tema:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#categories button:hover {
    cursor: pointer;
}
.contenedor-temas a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 3px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}

@media screen and (max-width: 1210px) {
    #categories {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .contenedor-temas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 980px) {
    #categories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .contenedor-temas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    #categories {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenedor-temas {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 610px) {
    #categories {
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-temas {
        grid-template-columns: 1fr;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 25px;
        padding: 10px;
    }
    .presentacion-texto {
        padding: 15px;
    }
}

@media screen and (max-width: 450px) {
    /* #categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #categories button {
        width: 250px;
    } */
    #categories {
        grid-gap: 20px;
    }
    #categories button {
        font-size: 18px;
    }
    .materia p {
        font-size: 45px;
    }
    .contenedor-temas {
        grid-gap: 20px;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-size: 22px;
    }
    .Presentacion {
        padding: 30px 50px;
    }
    .presentacion-texto {
        padding: 10px;
    }
    #search {
        padding: 10px;
    }
}