* {
    margin: 0;
    font-family: sans-serif;
}

body {
  background-color: #15191f;
  color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav .icon {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .text {
      font-size: 60px;
      font-family: 'Pangolin', cursive;
      text-align: center;
      margin-top: 25px;
  }
  .text-message p{
    text-align: center;
    margin-top: 25px;
    padding: 20px 20px;
    font-size: 30px;
  }


.nav a:hover {
    color: #95a5a6;
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}