#presentacion {
    padding: 100px 30px;
    height: 400px;
    text-align: center;
}
.presentacion-contenido {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.presentacion-title {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.frase {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

.seccion-contenido {
    padding: 30px 0;
}
.seccion-contenido h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.busqueda {
    background: linear-gradient(35deg, #0c5c5c, #b84e4e);
    padding: 40px 100px;
}
.busqueda-texto {
    background-color: #090c0f;
    border-radius: 7px;
    padding: 40px;
}
.busqueda h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
.busqueda p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

.swiper {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.swiper-slide {
    background-color: #090c0f;
    box-sizing: border-box;
}
.swiper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    padding: 15px;
    border-radius: 2px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}
.swiper img {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 3px;
}

#todo-title {
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 15px 30px;
}

#contenidos {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#contenidos a {
    background: #090c0f;
    color: white;
    border: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
#contenidos img {
    width: 100%;
    height: auto;
}
#contenidos p {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

#materiales-lernist, #utilidades-lernist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    background-color: #090c0f;
}
.materiales-contenedor {
    max-width: 700px;
}
.materiales-contenedor p {
    font-size: 23px;
}
#materiales-lernist h3, #utilidades-lernist h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
}
#materiales-lernist p, #utilidades-lernist p {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    color: #b3b3b3;
}
#materiales-resumen, #utilidades-resumen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 80px;
}
#materiales-resumen img, #utilidades-resumen img {
    width: 70%;
    margin-bottom: 20px;
}
.material-info {
    text-align: center;
}
.material-info p {
    font-size: 21px;
}
.material-info a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    width: 60%;
    border-radius: 7px;
    margin: 20px auto 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #0f1318;
}

.banner-info {
    background-color: rgb(86, 165, 235, 0.25);
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner-info p {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.contenido {
    padding: 20px 20px;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #090c0f;
}
.contenido-descripcion {
    max-width: 700px;
}
.contenido-descripcion h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
}
.contenido-descripcion p {
    font-size: 23px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    color: #b3b3b3;
}

.cursos p {
    font-size: 60px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.contenedor-cursos a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}

.contenedor-cursos img {
    width: 100%;
    border-radius: 3px;
}
.todos a{
    display: block;
    text-decoration: none;
    color: white;

    text-align: center;
    width: fit-content;
    margin: 30px auto 15px;
    padding: 70px 20px;
    background: #090c0f;

    border-radius: 9px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.swiper a:hover, .material-info a:hover, .todos a:hover {
    background-color: black;
    transform: translateY(-4px);
    transition: transform 150ms;
}
.contenedor-cursos a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 3px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}

@media screen and (max-width: 1070px) {
    .Presentacion {
        padding: 10px;
    }
    .sector-texto {
        max-width: 700px;
        text-align: center;
    }
    #materiales-lernist {
        padding: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .Presentacion {
        background-attachment: scroll;
    }
    .banner-info {
        padding: 50px;
    }
    .presentacion-title {
        font-size: 65px;
    }
    .presentacion-description {
        grid-column-gap: 30px;
        padding: 25px;
    }
    #materiales-resumen {
        grid-template-columns: 1fr;
    }
    .material-info {
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .todos a{
        max-width: 600px;
        font-size: 50px;
        padding: 50px 20px;
    }
}

@media screen and (max-width: 850px) {
    .Presentacion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 20px 20px 20px;
    }
    .presentacion-title {
        font-size: 55px;
    }
    .contenido {
        padding: 45px 20px;
    }
    .busqueda {
        padding: 30px 50px;
    }
    #contenidos p {
        font-size: 26px;
    }
}

@media screen and (max-width: 750px) {
    .contenedor-cursos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contenidos {
        grid-template-columns: 1fr;
    }
    #contenidos a {
        grid-template-columns: 0.3fr 1fr;
    }
}

@media screen and (max-width: 610px) {
    .contenedor-cursos {
        grid-template-columns: 1fr;
    }
    .contenedor-cursos a {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 30px;
        padding: 10px;
    }
    .busqueda-texto {
        padding: 20px;
    }
}

@media screen and (max-width: 550px) {
    #materiales-lernist {
        padding: 50px 30px;
    }
    #materiales-lernist h3 {
        margin: 10px 0 30px;
    }
    .todos a{
        font-size: 40px;
    }
    .busqueda {
        padding: 20px;
    }
}

@media screen and (max-width: 470px) {
    .cursos p {
        font-size: 45px;
    }
    .banner-info {
        padding: 30px;
    }
    .banner-info p {
        font-size: 30px;
    }
    .todos a {
        font-size: 33px;
        padding: 40px 10px;
    }
    .contenedor-cursos a/*, .theme-icon*/{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-size: 25px;
    }
    .seccion-contenido {
        padding: 20px;
    }
    .swiper a {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .presentacion-title {
        font-size: 45px;
    }
    .contenedor-cursos a, .theme-icon{
        font-size: 22px;
    }
}