#presentacion {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 100px 30px;
    height: 400px;
    text-align: center;
}
.presentacion-contenido {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.presentacion-title {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.frase {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

.presentacion-description {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    align-items: center;
    padding: 40px 25px;
    text-align: center;
    background-color: #090c0f;
}
#presentacion-description1,  #presentacion-description3 {
    grid-template-columns: 0.4fr 1fr;
    padding-right: 100px;
}
#presentacion-description2 {
    grid-template-columns: 1fr 0.4fr;
    padding-left: 100px;
}
#presentacion-description3 {
    padding-bottom: 100px;
}
.presentacion-description img {
    width: 100%;
    margin: 0 auto;
}
.presentacion-description p {
    font-size: 25px;
    line-height: 38px;
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
}
.descripcion-2 {
    margin-top: 15px;
}

#aprendedores, #empresas {
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: 100px;
    align-items: center;
}
#educadores {
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 100px;
    background-color: #090c0f;
    align-items: center;
}
#aprendedores img, #educadores img, #empresas img {
    width: 100%;
}
#aprendedores h2, #educadores h2, #empresas h2 {
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 30px;
}
#aprendedores p, #educadores p, #empresas p {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #b3b3b3;
    line-height: 35px;
}
#aprendedores h3, #educadores h3, #empresas h3 {
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    margin: 20px 0;
}

#materiales-lernist, #utilidades-lernist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    background-color: #090c0f;
}
.materiales-contenedor {
    max-width: 700px;
}
.materiales-contenedor p {
    font-size: 23px;
}
#materiales-lernist h3, #utilidades-lernist h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
}
#materiales-lernist p, #utilidades-lernist p {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    color: #b3b3b3;
}
#materiales-resumen, #utilidades-resumen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 80px;
}
#materiales-resumen img, #utilidades-resumen img {
    width: 70%;
    margin-bottom: 20px;
}
.material-info {
    text-align: center;
}
.material-info p {
    font-size: 21px;
}

.banner-info {
    background-color: rgb(86, 165, 235, 0.25);
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner-info p {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.contenido, .certificaciones, .articulos, .quizzes {
    padding: 20px 20px;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #090c0f;
}
.contenido-descripcion {
    max-width: 700px;
}
.contenido-descripcion h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
}
.contenido-descripcion p {
    font-size: 23px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    line-height: 35px;
    color: #b3b3b3;
    margin-bottom: 20px;
}

.articulos h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0;
    text-align: center;
}

.cursos p, .certificaciones p, .articulos p, .quizzes p {
    font-size: 60px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.contenedor-quizzes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.contenedor-articulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-cursos a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}
.contenedor-articulos a{
    text-decoration: none;
    color: white;

    padding: 12px;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    background-color: #090c0f;

    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-column-gap: 20px;
}
.theme-icon {
    color: white;

    padding: 13px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #090c0f;
}
.articulos-datos {
    display: flex;
    flex-direction: column;
}
.articulos-datos h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.articulos-datos p {
    font-size: 20px;
    text-align: justify;
}
/* .articulo-info {
    font-weight: 400;
} */
.articulos-muestra {
    margin-top: 15px;
    font-size: 19px;
}
.imagen-articulo {
    display: flex;
    align-items: center;
}
.contenedor-quizzes a{
    text-decoration: none;
    color: white;

    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;

    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.contenedor-cursos img, .contenedor-articulos img, .contenedor-quizzes img{
    width: 100%;
    border-radius: 3px;
}
.todos a{
    display: block;
    text-decoration: none;
    color: white;

    text-align: center;
    width: fit-content;
    margin: 30px auto 15px;
    padding: 70px 20px;
    background: #090c0f;

    border-radius: 9px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.donar {
    display: flex;
    align-items: center;
    padding: 50px;
}
.donacion {
    padding: 20px 45px;
    border-radius: 7px;
    background-color: #090c0f;
    width: 60%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 25px;
    align-items: center;
}
.donacion p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 30px;
}
.donacion a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 25px;
    background-color: #0f1318;
    border: 4px solid rgb(86, 165, 235, 0.25);
    border-radius: 10px;
}

.contenedor-cursos a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 3px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.todos a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 4px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.contenedor-articulos a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 3px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.contenedor-quizzes a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    border: 3px solid rgb(86, 165, 235, 0.25);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.donacion a:hover {
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 150ms;
}

@media screen and (max-width: 1270px) {
    #aprendedores, #educadores, #empresas {
        padding: 40px;
        grid-gap: 50px;
    }
    .contenedor-cursos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .articulos-datos p {
        font-size: 17px;
    }
    .instrucciones {
        padding: 20px;
    }
    .instrucciones h1 {
        margin: 0 150px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
    }
}

@media screen and (max-width: 1070px) {
    .Presentacion {
        padding: 10px;
    }
    #aprendedores, #educadores, #empresas {
        display: flex;
        flex-direction: column;
    }
    #aprendedores img, #educadores img, #empresas img {
        width: 500px;
    }
    .sector-texto {
        max-width: 700px;
        text-align: center;
    }
    #educadores {
        flex-direction: column-reverse;
    }
    #materiales-lernist, #utilidades-lernist {
        padding: 50px;
    }
    .donacion {
        padding: 20px 30px;
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .Presentacion {
        background-attachment: scroll;
    }
    .banner-info {
        padding: 50px;
    }
    .instrucciones {
        background-attachment: scroll;
    }
    .presentacion-title {
        font-size: 65px;
    }
    .presentacion-description {
        grid-column-gap: 30px;
        padding: 25px;
    }
    #presentacion-description1, #presentacion-description3 {
        grid-template-columns: 0.6fr 1fr;
        padding-right: 50px;
    }
    #presentacion-description2 {
        grid-template-columns: 1fr 0.6fr;
        padding-left: 50px;
    }
    .presentacion-description p{
        text-align: center;
    }
    .contenedor-quizzes {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenedor-articulos {
        grid-template-columns: 1fr;
    }
    .contenedor-articulos a {
        width: 80%;
        margin: 0 auto;
    }
    .articulos-datos h3 {
        font-size: 25px;
    }
    .articulos-datos p {
        font-size: 19px;
    }

    .instrucciones h1 {
        margin: 0 100px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    .contenedor-cursos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .todos a{
        max-width: 600px;
        font-size: 50px;
        padding: 50px 20px;
    }
}

@media screen and (max-width: 850px) {
    .Presentacion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 20px 20px 20px;
    }
    .presentacion-title {
        font-size: 55px;
    }
    #aprendedores img, #educadores img, #empresas img {
        width: 400px;
    }
    #materiales-resumen, #utilidades-resumen {
        grid-template-columns: 1fr;
    }
    .material-info {
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #materiales-resumen img, #utilidades-resumen img {
        max-width: 400px;
        text-align: center;
    }
    .donacion {
        grid-template-columns: 1fr 0.5fr;
    }

    .instrucciones h1 {
        margin: 0 70px;
    }
    .pasos-instrucciones {
        margin: 40px 20px 0 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .contenedor-cursos, .contenedor-quizzes {
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-articulos a {
        width: 90%;
    }
    .donacion {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .presentacion-description {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    #presentacion-description1, #presentacion-description3 {
        padding-right: 25px;
    }
    #presentacion-description2 {
        flex-direction: column-reverse;
        padding-left: 25px;
    }
    .presentacion-description img {
        width: 80%;
    }
    #aprendedores img, #educadores img, #empresas img {
        width: 350px;
    }
    .contenedor-articulos a {
        width: fit-content;
    }
    .descripcion-2 {
        margin-top: 15px;
    }
    .donacion {
        grid-column-gap: 15px;
    }

    .instrucciones h1 {
        margin: 0 30px;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 610px) {
    .contenedor-cursos, .contenedor-quizzes {
        grid-template-columns: 1fr;
    }
    .contenedor-cursos a, .theme-icon{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 30px;
        padding: 10px;
    }
    .contenedor-quizzes a{
        font-size: 25px;
    }
    .articulos-datos h3 {
        font-size: 21px;
    }
    .articulos-datos p {
        font-size: 17px;
    }
    /* .donar {
        padding: 0;
        background-color: black;
    } */
    .donacion {
        grid-template-columns: 1fr;
        padding: 25px;
    }
    .donacion p {
        text-align: center;
    }
    .donacion a {
        margin: 30px auto 0;
        width: 200px;
    }
}

@media screen and (max-width: 550px) {
    #aprendedores, #educadores, #empresas {
        padding: 40px 20px;
    }
    #materiales-lernist, #utilidades-lernist {
        padding: 50px 30px;
    }
    #materiales-lernist h3, #utilidades-lernist h3 {
        margin: 10px 0 30px;
    }

    .descripcion {
        border-radius: 10px;
    }
    .presentacion-description {
        padding: 20px 10px;
    }
    #presentacion-description1, #presentacion-description3 {
        padding-right: 10px;
    }
    #presentacion-description2 {
        flex-direction: column-reverse;
        padding-left: 10px;
    }
    .presentacion-description img {
        width: 90%;
    }
    .contenedor-articulos a {
        grid-template-columns: 1fr;
        padding: 20px 15px;
    }
    .articulos-datos {
        margin-top: 15px;
    }
    .articulos-datos h3 {
        font-size: 23px;
    }
    .imagen-articulo img{
        width: 80%;
        margin: 0 auto;
    }
    .todos a{
        font-size: 40px;
    }

    .instrucciones h1 {
        margin: 0;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
    .pasos-instrucciones h2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px) {
    #aprendedores h2, #educadores h2, #empresas h2 {
        font-size: 40px;
    }
    #aprendedores img, #educadores img, #empresas img {
        width: 300px;
    }
    .cursos p, .certificaciones p, .articulos p {
        font-size: 45px;
    }
    .articulos-datos p {
        font-size: 20px;
        text-align: justify;
    }
    .banner-info {
        padding: 30px;
    }
    .banner-info p {
        font-size: 30px;
    }
    .todos a {
        font-size: 33px;
        padding: 40px 10px;
    }
    .donar {
        padding: 20px;
    }
    .contenedor-cursos a, .theme-icon{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .presentacion-title {
        font-size: 45px;
    }
    .certificaciones-a a {
        grid-template-columns: 1fr;
    }
    .certificaciones-a img {
        margin-bottom: 20px;
    }
    .contenedor-cursos a, .theme-icon{
        font-size: 22px;
    }
}