* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav .icon {
    display: none;
}


.Presentacion {
    padding: 110px 30px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    text-align: center;
    align-items: center;
    background-image: url(i_temas/black3-background.jpg);

    background-attachment: fixed; /* Codigo para el efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.presentacion-title {
    font-size: 55px;
    font-family: 'Chelsea Market', cursive;
}

.frase {
    font-family: 'Chelsea Market', cursive;
    font-size: 25px;
    margin-top: 50px;
}

.presentacion-description {
    text-align: center;
    background-color: #090c0f;
    padding: 20px 10px;
    border-radius: 5px;
}

.presentacion-description p {
    font-size: 25px;
    line-height: 38px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}
.descripcion-2 {
    margin-top: 15px;
}

.temas {
    padding: 20px 20px;
}

.temas p {
    font-size: 60px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.contenedor-temas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-temas a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}

.contenedor-temas img{
    width: 100%;
    border-radius: 3px;
}

.todos a{
    display: block;
    text-decoration: none;
    color: white;

    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 70px 0;
    background: linear-gradient(35deg, #0c5c5c, #b84e4e);

    border: 1.5px solid black;
    border-radius: 9px;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
    cursor: pointer;
}

.instrucciones {
    background-image: url(i_temas/black7-background.jpg);
    padding: 50px 20px;

    background-attachment: fixed; /* Codigo para el efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.instrucciones h1 {
    margin: 0 240px;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    border: 5px solid white;
    color: white;
    font-family: 'Chelsea Market', cursive;
}
.pasos-instrucciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: 40px 150px 0 150px;
    align-items: center;
    text-align: center;
}
.pasos-instrucciones h2 {
    padding: 20px;
    background-color: #090c0f;
    border: 5px solid #090c0f;
    color: white;
    margin-bottom: 30px;
}
.pasos-instrucciones ul {
    border: 4px solid white;
    padding: 13px;
    background-color: #090c0f;
    text-align: left;
    list-style-position: inside;
}
.pasos-instrucciones li {
    line-height: 25px;
    margin: 15px 0;
    font-size: 19px;
}

footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
}

.nav a:hover {
    color: #95a5a6;
}

.contenedor-temas a:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.todos a:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(35deg, #b84e4e, #0c5c5c);
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1270px) {
    .instrucciones {
        padding: 20px;
    }
    .instrucciones h1 {
        margin: 0 150px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
    }
}

@media screen and (max-width: 1070px) {
    .Presentacion {
        padding: 10px;
    }
    .todos a{
        width: 40%;
    }
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .presentacion-title {
        font-size: 65px;
    }
    .presentacion-description p{
        text-align: center;
    }

    .instrucciones h1 {
        margin: 0 100px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
        grid-template-columns: 1fr 1fr;
    }

    .nav a {
        font-size: 23px;
    }

    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
      }

      .nav.responsive {position: relative;}
      .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}

@media screen and (max-width: 850px) {
    .Presentacion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 20px 20px 20px;
    }
    .presentacion-title {
        font-size: 57px;
    }
    .frase {
        margin-top: 10px;
    }
    .presentacion-description {
        margin-top: 70px;
    }
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 45%;
        padding: 50px 0;
        margin-top: 15px;
    }

    .instrucciones h1 {
        margin: 0 70px;
    }
    .pasos-instrucciones {
        margin: 40px 20px 0 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .informacion {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
    .descripcion-2 {
        margin-top: 15px;
    }

    .instrucciones h1 {
        margin: 0 30px;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 630px) {
    .presentacion-title {
        font-size: 50px;
    }
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 60%;
    }
}

@media screen and (max-width: 610px) {
    .informacion a{
        line-height: 35px;
    }
}

@media screen and (max-width: 550px) {

    .descripcion {
        border-radius: 10px;
    }

    .instrucciones h1 {
        margin: 0;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
    .pasos-instrucciones h2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor-temas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .todos a{
        width: 90%;
    }
}