#presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 30px;
    height: 400px;
    text-align: center;
}

.presentacion-title {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.frase {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

.presentacion-description {
    text-align: center;
    background-color: #090c0f;
    padding: 20px 10px;
    border-radius: 5px;
}

.presentacion-description p {
    font-size: 25px;
    line-height: 38px;
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
}
.descripcion-2 {
    margin-top: 15px;
}

.temas {
    padding: 20px 20px;
}

.temas p {
    font-size: 60px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contenedor-temas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor-temas a{
    display: block;
    text-decoration: none;
    color: white;

    padding: 13px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}

.contenedor-temas img{
    width: 100%;
    border-radius: 3px;
}

.todos a{
    display: block;
    text-decoration: none;
    color: white;

    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 70px 0;
    background: linear-gradient(35deg, #0c5c5c, #b84e4e);

    border: 1.5px solid black;
    border-radius: 9px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.instrucciones {
    background-image: url(i_temas/black7-background.jpg);
    padding: 50px 20px;

    background-attachment: fixed; /* Codigo para el efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.instrucciones h1 {
    margin: 0 240px;
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    border: 5px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.pasos-instrucciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: 40px 150px 0 150px;
    align-items: center;
    text-align: center;
}
.pasos-instrucciones h2 {
    padding: 20px;
    background-color: #090c0f;
    border: 5px solid #090c0f;
    color: white;
    margin-bottom: 30px;
    font-family: 'Fira Sans', sans-serif;
}
.pasos-instrucciones ul {
    border: 4px solid white;
    padding: 13px;
    background-color: #090c0f;
    text-align: left;
    list-style-position: inside;
}
.pasos-instrucciones li {
    line-height: 25px;
    margin: 15px 0;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.referidos {
    padding: 20px 20px;
}
.referidos p {
    font-size: 40px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.contenedor-referidos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.referido {
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
    background-color: #090c0f;

    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 20px;
}
.referido p {
    font-size: 19px;
    text-align: left;
}
.referido-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-boton {
    display: flex;
}
.referido a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 60px;
    width: 150px;
    font-size: 25px;
    background-color: #15191f;
    border: 4px solid rgb(86, 165, 235, 0.25);
    border-radius: 10px;
    margin-top: 10px;
}
.referido img{
    width: 100%;
    border-radius: 3px;
}
.referido span {
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

.contenedor-temas a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.todos a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-3px);
    transition: transform 150ms;
    background: linear-gradient(35deg, #b84e4e, #0c5c5c);
}
.referido a:hover {
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 150ms;
}

@media screen and (max-width: 1270px) {
    .instrucciones {
        padding: 20px;
    }
    .instrucciones h1 {
        margin: 0 150px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
    }
}

@media screen and (max-width: 1070px) {
    .Presentacion {
        padding: 10px;
    }
    .todos a{
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .Presentacion {
        background-attachment: scroll;
    }
    .instrucciones {
        background-attachment: scroll;
    }
    .presentacion-title {
        font-size: 65px;
    }
    .presentacion-description p{
        text-align: center;
    }

    .instrucciones h1 {
        margin: 0 100px;
    }
    .pasos-instrucciones {
        margin: 40px 50px 0 50px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    .contenedor-temas {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenedor-referidos {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .referido p {
        font-size: 22px;
    }
}

@media screen and (max-width: 850px) {
    .Presentacion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 20px 20px 20px;
    }
    .presentacion-title {
        font-size: 55px;
    }

    .instrucciones h1 {
        margin: 0 70px;
    }
    .pasos-instrucciones {
        margin: 40px 20px 0 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .contenedor-temas {
        grid-template-columns: 1fr 1fr;
    }
    .referido p {
        font-size: 19px;
    }
}

@media screen and (max-width: 650px) {
    .descripcion-2 {
        margin-top: 15px;
    }

    .instrucciones h1 {
        margin: 0 30px;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 630px) {
    .todos a{
        width: 60%;
    }
}

@media screen and (max-width: 610px) {
    .contenedor-temas {
        grid-template-columns: 1fr;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 30px;
        padding: 10px;
    }
}

@media screen and (max-width: 550px) {
    .referido a {
        height: 50px;
        width: 130px;
    }

    .descripcion {
        border-radius: 10px;
    }

    .instrucciones h1 {
        margin: 0;
    }
    .pasos-instrucciones {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
    .pasos-instrucciones h2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px) {
    .referido {
        grid-template-columns: 1fr 0.7fr;
    }
    .contenedor-boton {
        justify-content: center;
    }
    .referido a {
        width: 100%;
    }
    .contenedor-temas a{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-size: 27px;
    }
    .todos a{
        width: 90%;
    }
}