@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

#presentacion-utilidades {
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 100px;
    background-color: #090c0f;
    align-items: center;
}
#presentacion-utilidades img {
    width: 100%;
}
#presentacion-utilidades h2 {
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 30px;
}
#presentacion-utilidades p {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #b3b3b3;
    line-height: 35px;
    text-align: justify;
}
#presentacion-utilidades h3 {
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    margin: 20px 0;
}

.banner-info {
    background-color: rgb(86, 165, 235, 0.25);
    padding: 70px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner-info p {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#premier {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #090c0f;
}
#premier h3 {
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}
#premier p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 150px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}
#premier a {
    color: white;
    font-family: 'Noto Serif', serif;
    margin-top: 40px;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(86, 165, 235, 0.25);
    border-radius: 7px;
}
#premier-descripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 150px 0;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}
#premier-descripcion p {
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    text-align: left;
}


.seccion-contenido {
    padding: 30px 0;
}
.seccion-contenido h3 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.contenedor-programas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-bottom: 30px;
}
.contenedor-programas a {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    /* border-radius: 100px; */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
    border-radius: 5px;
}
.preview-carrera {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    /* border-radius: 100px; */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    background-color: #090c0f;
    border-radius: 5px;
}
/* .contenedor-imagen-programa {
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 10px solid #090c0f;
    padding: 15px;
    margin-bottom: 20px;
} */
.contenedor-programas img {
    width: 100%;
    margin: 0 auto 20px;
}

.swiper {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.swiper-slide {
    background-color: #090c0f;
    box-sizing: border-box;
}
.swiper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f0ece2;

    padding: 15px;
    border-radius: 2px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    background-color: #090c0f;
}
.swiper img {
    width: 90%;
    margin: 10px 0;
    border-radius: 3px;
}

.swiper a:hover, .contenedor-programas a:hover {
    background-color: black;
    transform: translateY(-4px);
    transition: transform 150ms;
}

@media screen and (max-width: 1070px) {
    #presentacion-utilidades {
        display: flex;
        flex-direction: column;
    }
    #presentacion-utilidades img {
        width: 500px;
    }
    .sector-texto {
        max-width: 700px;
        text-align: center;
    }
    #presentacion-utilidades {
        flex-direction: column-reverse;
    }
    #premier p {
        margin: 0 70px;
    }
    #premier-descripcion {
        margin: 70px 70px 0;
    }
    #premier-descripcion p {
        margin: 0;
    }
}

@media screen and (max-width: 980px) {
    .contenedor-programas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .banner-info {
        padding: 50px;
    }
}

@media screen and (max-width: 850px) {
    #presentacion-utilidades img {
        width: 400px;
    }
    .contenedor-programas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    #premier p {
        margin: 0 30px;
    }
    #premier-descripcion {
        margin: 70px 30px 0;
        grid-column-gap: 40px;
    }
    #premier-descripcion p {
        margin: 0;
    }
}

@media screen and (max-width: 610px) {
    #presentacion-utilidades img {
        width: 350px;
    }
    .contenedor-programas {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 570px) {
    #presentacion-utilidades {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 470px) {
    #presentacion-utilidades h2 {
        font-size: 40px;
    }
    #presentacion-utilidades img {
        width: 300px;
    }
    #premier-descripcion {
        grid-template-columns: 1fr;
    }
    .contenedor-programas {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .contenedor-programas a, .preview-carrera {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #f0ece2;
        font-size: 23px;
        padding: 10px;
    }
    .contenedor-programas img {
        margin: 0;
    }
    /* #categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #categories button {
        width: 250px;
    } */
    .banner-info {
        padding: 30px;
    }
    .banner-info p {
        font-size: 30px;
    }
    .seccion-contenido {
        padding: 15px;
    }
    .swiper a {
        font-size: 20px;
    }
    .swiper img {
        width: 75%;
    }
}

@media screen and (max-width: 455px) {
    .contenedor-boton {
        margin-top: 20px;
    }
}