* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
#homepageLink {
    padding: 16px 20px;
    position: relative;
}
#homepageLink img {
    width: auto;
    height: 70px;
    margin-right: 20px;
    border-radius: 4px;
}
.Inicio {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menuPrincipal {
    float: right;
}

/* .nav .icon {
    display: none;
} */
#menuHamburguesa {
    padding: 18px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 1px;
}
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change-bar2 {
    opacity: 0;
}
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


.Presentacion {
    padding: 30px 70px 40px 70px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    text-align: center;
    background-color: #090c0f;
}
.Presentacion img{
    width: 100%;
    border: 5px solid white;
    border-radius: 3px;
}

.presentacion-description {
    text-align: center;
    padding: 0 0 0 20px;
}

.presentacion-description h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.presentacion-description p {
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}
.descripcion-2 {
    margin: 15px 0 60px 0;
}
.presentacion-description span{
    text-decoration: underline;
}
.comprar {
    text-align: left;
    background-color: black;
    border-radius: 4px;
    padding: 15px;
}
.comprar p{
    display: inline-block;
    font-size: 30px;
}
.boton-comprar {
    display: inline;
    padding: 0 20px;
}

main {
    padding: 20px 40px;
}
main h2{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
.indicaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 40px 0;
}
.indicaciones img {
    width: 100%;
}
.pasos {
    padding: 30px 10px;
    border: 1.5px solid black;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: #090c0f;
    cursor: pointer;
}

footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
}

.nav a:hover {
    color: #95a5a6;
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1100px) {
    .Presentacion {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
    }
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
    .comprar {
        text-align: center;
        padding: 15px 15px 24px;
    }
    .boton-comprar {
        display: block;
        margin-top: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    .presentacion-description p{
        text-align: center;
    }

    .Presentacion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 40px 20px 40px;
    }
    .presentacion-description {
        padding: 30px 0 0 20px;
    }
    .Presentacion img {
        height: 400px;
        width: auto;
    }

    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 950px) {
    .indicaciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        padding: 40px 0;
    }
}

@media screen and (max-width: 800px) {
    .informacion {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    
    main {
        padding: 20px 20px;
    }

    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .informacion a{
        line-height: 35px;
    }
}

@media screen and (max-width: 550px) {

    .Presentacion {
        padding: 20px 30px 20px 25px;
    }
    .Presentacion img {
        width: 100%;
        height: auto;
    }
    .presentacion-description {
        padding: 30px 0 0 0;
    }

    .indicaciones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        padding: 40px 3.5%;
    }
}