/* font-family: 'Chelsea Market', cursive;

font-family: 'Dela Gothic One', cursive;

font-family: 'Fira Sans', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
#homepageLink {
    padding: 16px 20px;
    position: relative;
}
#homepageLink img {
    width: auto;
    height: 70px;
    margin-right: 20px;
    border-radius: 4px;
}
.Inicio {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menuPrincipal {
    float: right;
}

/* .nav .icon {
    display: none;
} */
#menuHamburguesa {
    padding: 18px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 1px;
}
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change-bar2 {
    opacity: 0;
}
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.title {
    padding: 20px 40px;
    background-color: #090c0f;
}
.title h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
}
.title p{
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#anuncio-superior {
    padding: 15px;
}
#anuncio-superior img {
    margin: auto;
}
#anuncio-superior-movil {
    padding: 15px;
    display: none;
}
#anuncio-superior-movil img {
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "video temario" "descripcion temario";
}
.video {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
    grid-area: video;
}
.video iframe{
    box-sizing: border-box;
    padding: 15px 20px 15px 25px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info {
    padding: 0 20px 0 25px;
    grid-area: descripcion;
}
.video-info-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: #090c0f;
    border-radius: 3px;
    cursor: pointer;
}
.video-info-title h3 {
    font-size: 30px;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}
.video-info-title span {
    font-size: 50px;
    text-align: right;
}
.datos-video {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 15px 0;
}
.datos-video-texto-principal {
    font-size: 27px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.datos-video p {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.datos-video a {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 30px;
    color: white;
}


.temario {
    width: 100%; 
    padding: 5px 5px 0 0;
    box-sizing: border-box;
    line-height: 27px;
    grid-area: temario;
}
.temario a{
    text-decoration: none;
    color: white;
}

.botones-control {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.botones-control a {
    font-size: 50px;
    background-color: #090c0f;
    border-radius: 2px;
    border: 5px solid black;
    padding: 8px;
}
.previous {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-column-gap: 15px;
    align-items: center;
}
.previous p {
    text-align: left;
}
.next  {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 15px;
    align-items: center;
}
.next p {
    text-align: right;
}
.botones-control p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.botones-control img {
    width: 45px;
    height: auto;
}
#VideosMensajeInicio {
    display: grid;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #090c0f;
    border-radius: 2px;
    border: 5px solid black;
    padding: 8px;
    font-size: 18px;
}
#VideosMensajeFinal {
    display: grid;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #090c0f;
    border-radius: 2px;
    border: 5px solid black;
    padding: 8px;
    font-size: 18px;
}
.lecciones {
    height: 420px;
    border: 6px solid black;
    background-color: black;
    border-radius: 4px;
    overflow: auto;
    scrollbar-width: none; /* esto es para que no se vea la scroll bar en Firefox */
    -ms-overflow-style: none; /* esto es para IE y viejo Edge */
}
.lecciones::-webkit-scrollbar { /* esto es para Chromium y Safari */
    display: none;
}
#titulo-lecciones {
    text-align: center;
    font-size: 38px;
    line-height: 45px;
    padding: 15px 10px;
    margin: 15px 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}
.lecciones h1 {
    padding: 15px 0;
    text-align: center;
    border-bottom: 4px solid black;
    font-family: 'Montserrat', sans-serif;
}
.leccion {
    margin-bottom: 5px;
}
.leccion-title {
    position: relative;
    padding: 10px;
    background-color: #090c0f;
    cursor: pointer;
}
.leccion-title span {
    position: absolute;
    right: 15px;
    font-size: 2em;
}

.leccion h3{
    font-size: 1.2em;
    font-family: 'Fira Sans', sans-serif;
    color: #f0ece2;
    display: inline-block;
    margin-right: 30px;
}
/* .contenedor-videos {
    padding: 17px 15px 14px 15px;
} */
.videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;

    padding: 15px 10px;
    background-color: #15191f;
}

.videos a{
    display: block;
    background-color: #090c0f;
    border-radius: 3px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.recomendado {
    padding: 20px;
}
.recomendado h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.recomendado-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}
.recomendado-content a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;

    text-align: center;
    padding: 20px;
    background-color: #090c0f;

    border: 4px solid black;
    border-radius: 9px;
    font-size: 30px;
    cursor: pointer;
}


footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
    color: #95a5a6;
}
.botones-control a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.videos a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.recomendado-content a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1135px) {
    .video iframe {
        padding: 15px;
    }
}

@media screen and (max-width: 1070px) {
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .lecciones {
        height: 350px;
    }

    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "video" "descripcion" "temario";
    }
    .botones-control {
        margin: 10px;
    }
    .datos-video {
        grid-template-columns: 0.6fr 1fr;
    }
    .video-info {
        padding: 0 10px;
    }
    .informacion-video {
        padding: 0 5px;
    }
    .temario {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .informacion {
        text-align: center;
    }
    #anuncio-superior {
        display: grid;
        grid-template-columns: 1fr;
    }
    .anuncios-superiores {
        width: 100%;
        height: auto;
    }
    .recomendado-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
    #anuncio-superior {
        display: none;
    }
    #anuncio-superior-movil {
        display: grid;
        grid-template-columns: 1fr;
    }
    .anuncios-superiores-moviles {
        width: 100%;
        height: auto;
    }
    .datos-video {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 610px) {
    .informacion a{
        line-height: 35px;
    }
    .recomendado-content {
        grid-template-columns: 1fr;
    }
}