* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
#homepageLink {
    padding: 16px 20px;
    position: relative;
}
#homepageLink img {
    width: auto;
    height: 70px;
    margin-right: 20px;
    border-radius: 4px;
}
.Inicio {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menuPrincipal {
    float: right;
}

/* .nav .icon {
    display: none;
} */
#menuHamburguesa {
    padding: 18px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 1px;
}
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change-bar2 {
    opacity: 0;
}
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.title {
    padding: 20px 40px;
    background-color: #090c0f;
}
.title p{
    margin-top: 15px;
    font-size: 18px;
}

main {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "video temario" "descripcion temario";
}
.video {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
    grid-area: video;
}
.video iframe{
    box-sizing: border-box;
    padding: 15px 20px 15px 25px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info {
    padding: 15px 20px 15px 25px;
    grid-area: descripcion;
    display: none;
}


.temario {
    width: 100%;
    padding: 5px 5px 0 0;
    box-sizing: border-box;
    line-height: 27px;
    grid-area: temario;
}
.temario a{
    text-decoration: none;
    color: white;
}
.contentBox {
    position: relative;
    margin: 10px 10px;
}
.label {
    position: relative;
    padding: 10px;
    background-color: #090c0f;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}
.label span {
    display: block;
    width: 90%;
}
.label::before {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 1.5em;    
    top: 50%;
    transform: translateY(-50%);
}
.active .label::before{
    content: "-";
}
.content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content a{
    font-style: italic;
}
.content span{
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}
.content a{
    font-weight: 500;
}
.active .content {
    height: auto;
    padding: 10px;
}


footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
}

.nav a:hover {
    color: #95a5a6;
}
.content a:hover {
    text-decoration: underline;
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1135px) {
    .video iframe {
        padding: 15px;
    }
}

@media screen and (max-width: 1070px) {
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "video" "descripcion" "temario";
    }
    .temario {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .informacion {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .informacion a{
        line-height: 35px;
    }
}