* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav .icon {
    display: none;
}

.title {
    padding: 20px 40px;
    background-color: #090c0f;
}
.title p{
    margin-top: 15px;
    font-size: 18px;
}

main {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "video temario" "descripcion temario";
}
.video {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
    grid-area: video;
}
.video iframe{
    box-sizing: border-box;
    padding: 15px 20px 15px 25px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info {
    padding: 15px 20px 15px 25px;
    grid-area: descripcion;
    display: none;
}


.temario {
    width: 100%;
    padding: 5px 5px 0 0;
    box-sizing: border-box;
    line-height: 27px;
    grid-area: temario;
}
.temario a{
    text-decoration: none;
    color: white;
}
/* .contentBox {
    position: relative;
    margin: 10px 10px;
}
.label {
    position: relative;
    padding: 10px;
    background-color: #090c0f;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}
.label span {
    display: block;
    width: 90%;
}
.label::before {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 1.5em;    
    top: 50%;
    transform: translateY(-50%);
}
.active .label::before{
    content: "-";
}
.content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content a{
    font-style: italic;
}
.content span{
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}
.content a{
    font-weight: 500;
}
.active .content {
    height: auto;
    padding: 10px;
} */
.botones-control {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 30px;
}
.botones-control a {
    display: grid;
    font-size: 50px;
    font-family:'Lato', sans-serif;
    font-weight: bold;
    background-color: #090c0f;
    border-radius: 2px;
    border: 5px solid black;
    padding: 8px;
}
.previous {
    grid-template-columns: 0.5fr 1fr;
    grid-column-gap: 15px;
    align-items: center;
}
.previous p {
    text-align: left;
}
.next  {
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 15px;
    align-items: center;
}
.next p {
    text-align: right;
}
.botones-control p {
    font-size: 19px;
}
.botones-control img {
    width: 45px;
    height: auto;
}
.leccion {
    background-color: #090c0f;
    border-radius: 5px;
    border: 5px solid black;
    margin: 10px;
}
.leccion-title {
    position: relative;
    padding: 10px;
    background-color: #090c0f;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}
.leccion-title span {
    position: absolute;
    right: 20px;
    font-size: 2em;
}

.leccion h3{
    font-size: 1.2em;
    font-family:'Lato', sans-serif;
    color: #f0ece2;
    display: inline-block;
}
/* .contenedor-videos {
    padding: 17px 15px 14px 15px;
} */
.videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;

    padding: 15px 10px;
    background-color: #15191f;
    border-radius: 3px;
}

.videos a{
    font-style: italic;
    display: block;
    background-color: #090c0f;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.videos span{
    font-weight: bold;
    font-size: 1.2em;
    font-style: normal;
}


footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
}

.nav a:hover {
    color: #95a5a6;
}
.botones-control a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.videos a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.social img:hover{
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.informacion a:hover {
    background-color: black;
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1135px) {
    .video iframe {
        padding: 15px;
    }
}

@media screen and (max-width: 1070px) {
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .leccion {
        margin: 10px 10px 20px 10px;
    }

    .nav a {
        font-size: 23px;
    }

    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
      }

      .nav.responsive {position: relative;}
      .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "video" "descripcion" "temario";
    }
    .temario {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .informacion {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .informacion a{
        line-height: 35px;
    }
}