.title {
    padding: 20px 40px;
    background-color: #090c0f;
}
.title h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.title p{
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

#anuncio-superior {
    padding: 15px;
}
#anuncio-superior img {
    margin: auto;
}
#anuncio-superior-movil {
    padding: 15px;
    display: none;
}
#anuncio-superior-movil img {
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 20px;
    grid-template-rows: auto 1fr;
    padding: 0 40px;
}
main iframe {
    width: 100%;
    height: 500px;
}
.encabezado img{
    width: 100%;
    margin-bottom: 30px;
}
.articulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
}
.articulo img {
    width: 100%;
    max-width: 600px;
}
.video {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
}
.video iframe{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contenido {
    padding: 15px 25px;
}
.contenido h3 {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.contenido p {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
}
.contenido a {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 35px;
    color: white;
    text-decoration: none;
    width: max-content;
    display: block;
}
.contenido li {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.contenido span {
    font-weight: bold;
    font-size: 25px;
}


.relacionado {
    width: 100%; 
    padding: 15px 5px;
    box-sizing: border-box;
    line-height: 27px;
}
.relacionado a{
    text-decoration: none;
    color: white;
}

.leccion {
    margin-bottom: 5px;
}
.leccion-title {
    position: relative;
    padding: 10px;
    border-left: 6px solid black;
    margin-bottom: 10px;
}
.leccionBotonMenos {
    display: none;
}

.leccion h3{
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: #f0ece2;
    display: inline-block;
}

.articulos {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;

    padding: 15px 0;
    background-color: #15191f;
}

.articulos a{
    display: block;
    background-color: #090c0f;
    border-radius: 3px;
    padding: 10px;
    font-size: 17px;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.recomendado h3 {
    padding: 10px;
    margin-bottom: 25px;
    text-align: left;
    line-height: 40px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    border-left: 6px solid black;
}
.recomendado-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.recomendado-content a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;

    text-align: center;
    padding: 15px;
    background-color: #090c0f;

    border: 4px solid black;
    border-radius: 9px;
    font-size: 25px;
    cursor: pointer;
}


footer {
    margin-top: 20px;
}

.articulos a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.contenido a:hover {
    color: #95a5a6;
}
.recomendado-content a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1070px) {
    main {
        padding: 0 15px;
    }
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
    .relacionado {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    #anuncio-superior {
        display: grid;
        grid-template-columns: 1fr;
    }
    .anuncios-superiores {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    
    .contenido {
        padding: 15px 10px;
    }
    #anuncio-superior {
        display: none;
    }
    #anuncio-superior-movil {
        display: grid;
        grid-template-columns: 1fr;
    }
    .anuncios-superiores-moviles {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 610px) {
    .contenido span {
        font-weight: bold;
        font-size: 22px;
    }
    .contenido a {
        display: inline;
    }
}

@media screen and (max-width: 410px) {
    .contenido span {
        font-weight: bold;
        font-size: 19px;
    }
}