#header {
    padding: 20px;
    background-color: #090c0f;
    margin-bottom: 20px;
}
.title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
}
/* .title img {
    width: 150px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-right: 30px;
} */
.title h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
}
main iframe {
    width: 100%;
    height: 500px;
}
.encabezado img{
    width: 100%;
    margin: 20px auto 30px;
}
#contenido {
    margin-top: 20px;
}
.articulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    margin-bottom: 20px;
}
.articulo h3 {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.indice a {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 35px;
    color: white;
    text-decoration: none;
    width: max-content;
    display: block;
}
.articulo p {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
}
.articulo a {
    font-family: 'Poppins', sans-serif;
}
.articulo li {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.articulo span {
    font-weight: bold;
    font-size: 25px;
}
.articulo img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.video {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
}
.video iframe{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ejemplo li {
    font-weight: bold;
    font-size: 25px;
}

.recomendacion a {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
    line-height: 35px;
    color: white;
    text-decoration: none;

    padding: 15px;
    border-radius: 7px;
    background-color: #090c0f;
    margin: 0 auto;
    max-width: 450px;
}
.recomendacion img {
    width: 100%;
    border-radius: 3px;
}

.contenedor-materiales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
}

.contenedor-materiales a{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center; */
    padding: 15px 20px;
    /* padding: 15px; */
    background-color: #090c0f;
    border-radius: 4px;

    text-decoration: none;
    color: white;

    width: auto;
}
.contenedor-materiales h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.contenedor-materiales p {
    font-size: 17px;
    text-align: left;
    line-height: 29px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #b3b3b3;
}

.contenedor-materiales img{
    border-radius: 3px;
    max-width: 220px;
    width: 60%;
    margin: 10px auto;
    border: 0;
}
.contenedor-materiales button{
    width: 100%;
    margin-top: 20px;
}

.referido {
    padding: 15px;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
    background-color: #090c0f;

    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-column-gap: 20px;
}
.referido p {
    font-size: 21px;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: normal;
}
.referido-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-boton {
    display: flex;
}
.referido a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 60px;
    width: 150px;
    font-size: 25px;
    background-color: #0f1318;
    border: 4px solid rgb(86, 165, 235, 0.25);
    border-radius: 10px;
    margin-top: 10px;
}
.referido img {
    width: 100%;
    border-radius: 3px;
}
.referido span, .recomendacion span {
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.donacion {
    padding: 15px 40px;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
    background-color: #090c0f;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 15px;
    align-items: center;
}
.donacion p {
    text-align: left;
    font-size: 21px;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: normal;
}
.donacion a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 25px;
    background-color: #0f1318;
    border: 4px solid rgb(86, 165, 235, 0.25);
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

.relacionado {
    width: 100%; 
    margin-top: 30px;
    box-sizing: border-box;
    line-height: 27px;
}
.relacionado a{
    text-decoration: none;
    color: white;
}

.trending-title {
    position: relative;
    padding: 10px;
    border-left: 6px solid black;
    margin-bottom: 10px;
}
.trending-title h3{
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: #f0ece2;
    display: inline-block;
}

.articulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    padding: 15px 0;
    background-color: #0f1318;
}
.articulos a{
    display: block;
    background-color: #090c0f;
    border-radius: 3px;
    padding: 10px;
    font-size: 17px;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.contenido a:hover {
    color: #95a5a6;
}
.donacion a:hover {
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 150ms;
}
.contenedor-materiales a:hover{
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-3px);
    transition: transform 150ms;
}
.referido a:hover {
    box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 150ms;
}
.articulos a:hover {
    background-color: black;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 800px) {
    .donacion {
        grid-template-columns: 1fr 0.5fr;
    }
    .donacion a {
        height: 70%;
    }
}

@media screen and (max-width: 770px) {
    .contenedor-materiales {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .donacion {
        grid-template-columns: 1fr;
    }
    .donacion a {
        height: 60px;
        width: 70%;
        margin: 20px auto 10px;
    }
    .referido {
        grid-template-columns: 1fr 0.5fr;
    }
    .relacionado {
        padding: 10px;
    }
}

@media screen and (max-width: 610px) {
    .articulo span {
        font-weight: bold;
        font-size: 22px;
    }
    .indice a {
        display: inline;
    }
    .donacion p {
        text-align: center;
    }
    .articulos {
        grid-template-columns: 1fr;
    }
    .articulos a {
        text-align: center;
    }
    .contenedor-materiales {
        grid-template-columns: 1fr;
        padding: 4px;
        grid-gap: 10px;
    }
    .contenedor-materiales a{
        font-size: 25px;
    }
    .contenedor-materiales a {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 470px) {
    main {
        padding: 15px;
    }
    .title h1 {
        font-size: 34px;
    }
    .referido {
        grid-template-columns: 1fr 0.7fr;
    }
    .contenedor-boton {
        justify-content: center;
    }
    .referido a {
        width: 100%;
    }
    .referido p {
        font-size: 19px;
    }
    .articulo h3 {
        text-align: center;
    }
    .articulo span {
        font-weight: bold;
        font-size: 19px;
    }
    .recomendacion a {
        display: flex;
        flex-direction: column;
        font-size: 24px;
    }
    .recomendacion img {
        max-width: 230px;
        margin: 0 auto 20px;
    }
}