* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #15191f;
    color: #f0ece2;
}

.nav {
    background-color: #090c0f;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
}
#homepageLink {
    padding: 16px 20px;
    position: relative;
}
#homepageLink img {
    width: auto;
    height: 70px;
    margin-right: 20px;
    border-radius: 4px;
}
.Inicio {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menuPrincipal {
    float: right;
}

/* .nav .icon {
    display: none;
} */
#menuHamburguesa {
    padding: 18px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 1px;
}
.change-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change-bar2 {
    opacity: 0;
}
.change-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.title {
    padding: 20px 40px;
    background-color: #090c0f;
}
.main {
    padding: 30px 50px;
}

.main a{
    text-decoration: none;
    color: white;
}

.main h2{
    font-family: 'Lato', sans-serif;
}
.descripcion {
    padding: 0 180px;
    text-align: center;
}
.descripcion p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-family:'Lato', sans-serif;
    font-size: 20px;
    line-height: 35px;
}

.lecciones {
    padding-top: 45px;
}

.leccion {
    padding: 20px;
    background-color: #303841;
    border-radius: 3px;
    border: 0.3px solid #222831;
    margin-bottom: 20px;
}
.leccion hr{
    color: #fff9f9;
}
.leccion h3{
    margin-bottom: 20px;
    font-size: 22px;
    font-family:'Lato', sans-serif;
    color: #f0ece2;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    margin-top: 20px;
}

.temario {
    width: 100%;
    padding: 10px 5px 0 0;
    box-sizing: border-box;
    line-height: 27px;
}
.temario a{
    text-decoration: none;
    color: white;
}
.contentBox {
    position: relative;
    margin: 10px 10px;
}
.label {
    position: relative;
    padding: 10px;
    background-color: #090c0f;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}
.label span {
    display: block;
    width: 90%;
    font-size: 20px;
}
.label::before {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 1.5em;    
    top: 50%;
    transform: translateY(-50%);
}
.active .label::before{
    content: "-";
}
.content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content a{
    font-weight: 500;
}
.active .content {
    height: auto;
    padding: 10px;
}



footer {
    background-color: #090c0f;
    padding: 50px 50px 30px 50px;
    font-weight: bold;
    color: white;
}

footer p{
    font-size: 15px;
}

.main-footer {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 10px 0;
    align-items: center;
}

.main-footer p{
    font-family: 'Chelsea Market', cursive;
    font-size: 27px;
}

.social {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social a{
    cursor: pointer;
}
.informacion {
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: right;
}
.informacion a{
    text-decoration: none;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    margin-left: 30px;
}
.legal {
    text-align: right;
}

.nav a:hover {
    color: #95a5a6;
}

.main a:hover{
    text-decoration: underline;
}

.videos div:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1070px) {
    .main-footer{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    .main-footer p{
        text-align: center;
    }
    .social {
        display: inline;
    }
    .social a{
        margin: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .nav a {
        font-size: 24px;
        display: block;
        text-align: left;
        padding: 20px;
    }
    #homepageLink {
        padding: 15px 20px;
    }
    #homepageLink img {
        width: auto;
        height: 60px;
        margin-right: 10px;
        border-radius: 4px;
    }
    .Inicio {
        display: inline-block;
        font-size: 1.2em;
    }
    .menuPrincipal {
        display: none;
        padding-bottom: 10px;
        float: none;
    }
    #menuHamburguesa {
        display: initial;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    
    .temario {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .descripcion {
        padding: 0 60px;
    }
}

@media screen and (max-width: 650px) {
    
    .main-footer{
        grid-row-gap: 50px;
        margin-bottom: 40px;
    }
    .social{
        text-align: center;
    }
    .informacion a{
        margin: 0 15px;
    }
    .legal{
        text-align: center;
    }
}

@media screen and (max-width: 610px) {
    .descripcion {
        padding: 0 0px;
    }
    .main {
        padding: 30px 32px;
    }
    .contentBox {
        margin: 10px 0;
    }
}