@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Quicksand:wght@400;500&display=swap');

:root {
    --dark: #151f28;
    --white: #eceaf7;

    --pink: #fed3dc;
    --blue: #a8d8ea;
    
    --yellow: #ffffd2;
    --purple: #aa96da;

    --dark-gray: #212121;
    --medium-gray: #757575;
    --light-gray: #BDBDBD;

    --main-font: 'Quicksand', sans-serif;
    --secundary-font: 'Josefin Sans', sans-serif;
}
/*
font-family: 'Josefin Sans', sans-serif;

font-family: 'Quicksand', sans-serif;
*/
* {
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--white);
}

.loading-animation {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding: 30px;
    height: 100vh;
    width: 100vw;
}
.loading-animation p {
    text-align: center;
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    font-family: var(--secundary-font);
    font-size: 35px;
    font-weight: 700;
}
#welcome-animation p {
    font-size: 45px;
}
#searching-animation {
    display: none;
}

#contextual-message {
    position: fixed;
    top: 30px;
    margin-top: -100%;
    left: 50%;
    margin-left: -110px;

    width: 200px;
    padding: 20px;
    background-color: var(--yellow);

    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;

    border-radius: 12px;
    transition: all 0.7s;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--dark);
    color: white;
    font-family: var(--secundary-font);
    font-size: 30px;
    font-weight: 700;
}
nav img {
    width: 60px;
    margin-right: 10px;
}
nav span {
    background-color: #151f28;
}

button {
    display: block;
    width: 300px;
    margin: 10px auto 0;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    background-color: #151f28;
    border-style: none;
    border-radius: 10px;
    color: #eceaf7;

    font-family: var(--secundary-font);
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
}

label {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--white);
    font-size: 20px;
    margin: 10px 0;
    background-color: var(--dark);
}

input {
    width: 300px;
    background-color: var(--dark);
    color: var(--white);
    margin: 10px 0;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    font-family: var(--main-font);
    font-size: 16px;
}

#app-container {
    display: none;
    padding: 20px 0;
    min-height: 100vh;
    height: max-content;
}
#app-container h3 {
    box-sizing: border-box;
    display: block;
    max-width: 600px;
    font-family: var(--secundary-font);
    font-size: 28px;
    padding: 0 20px;
    margin: 40px auto 20px;
    font-weight: 700;
    color: var(--dark);
}

#chats-container {
    max-width: 600px;
    margin: 0 auto 40px;
}

.chats {
    padding: 20px;
    border-bottom: 5px solid var(--dark);
    color: var(--dark);

    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 700;
}
.chats p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 5px;
    width: max-content;
}


#chat {
    position: fixed;
    height: 100%;
    width: 100%;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
#chat-header {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}
#chat-header button {
    width: fit-content;
    margin: 0;
}
#chat-header p {
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    background-color: #151f28;
    border-style: none;
    border-radius: 10px;
    color: #eceaf7;

    font-family: var(--secundary-font);
    font-size: 20px;
    cursor: pointer;
}
#messages-container {
    overflow-y: scroll;
    padding-bottom: 15px;
}
.message-container {
    margin: 10px;
    display: flex;
    /* justify-content: flex-start; */
}
.message {
    padding: 10px;
    width: fit-content;
    max-width: 70%;
    background-color: var(--dark);
    border-radius: 8px;
    color: var(--yellow);

    font-family: var(--secundary-font);
    font-size: 15px;
    font-weight: 700;
}
.msg-left {
    float: left;
}
.msg-right {
    float: right;
}
.message p {
    color: var(--white);
    background-color: var(--dark);
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
}
#chat-input {
    padding: 20px;
    margin: 15px 10px;
    border-radius: 6px;
    flex-direction: row;
    justify-content: space-between;
}
#chat-input button, #chat-input input {
    margin: 0;
    padding: 0;
    width: fit-content;
}
#chat-input input {
    padding: 10px 0;
    width: 100%;
    margin-right: 20px;
    font-size: 19px;
}



#landing-page {
    padding: 20px 0;
    background-color: var(--dark);
    display: none;
    flex-direction: column;
    align-items: center;
}
#landing-page h1 {
    font-family: var(--secundary-font);
    font-size: 25px;
    background-color: var(--dark);
    color: var(--white);
    padding: 0 20px;
    text-align: center;
}
#landing-page span {
    font-family: var(--secundary-font);
    font-size: 25px;
    background-color: var(--dark);
    color: var(--purple);
    text-align: center;
}
#landing-page hr {
    width: 70%;
    margin: 50px auto;
    color: var(--medium-gray);
}
#landing-page h3 {
    font-family: var(--main-font);
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    font-size: 25px;
}
#landing-page p {
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--white);
    font-size: 20px;
    padding: 20px;
    background-color: var(--dark);
    text-align: center;
}
#landing-page button {
    background-color: var(--blue);
    color: #151f28;
    margin: 20px auto 0;
}
#landing-page img {
    width: 100%;
    max-width: 500px;
}

#register-container, #login-container {
    background-color: var(--dark);
}
#login-container {
    display: none;
}


#app-description {
    padding: 40px 20px 0;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#app-description h3 {
    padding: 30px 20px;
}
#app-description p {
    margin: 10px 0;
    padding: 0 20px;
    font-weight: 500;
    /* font-family: 'Josefin Sans', sans-serif; */
    text-align: justify;
    line-height: 30px;
}

footer {
    padding: 40px;
    background-color: #151f28;
    text-align: center;
    color: white;
    font-family: var(--secundary-font);
    font-size: 20px;
    font-weight: 400;
}

button:hover {
    color: var(--pink);
}
#landing-page button:hover {
    color: var(--purple);
}